
.logout-btn {
    color: white;
    background-color: #007bff;
    width: 120px;
    font-weight: bold;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border: none;
    margin: auto;
}